.container
  %form.form-signin
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h2.form-signin-heading Please sign in
    = f.label :email, "Email address", for: "inputEmail", class: "sr-only"
    = f.email_field :email, autofocus: "", placeholder: "Email address", required: "", id: "inputEmail", class: "form-control"
    = f.label :password, "Password", for: "inputPassword", class: "sr-only"
    = f.password_field :password, placeholder: "Password", required: "", id: "inputPassword", class: "form-control"
    .checkbox
      %label
        %input{type: "checkbox", value: "remember-me"}/
        Remember me
      = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
  .text-center
    %p
      Not a member?
      = link_to "Sign up now", new_user_registration_path
